body {
    background: rgb(198, 199, 200);
    width: 500px;
    height: auto;
    min-height: 500px;
    margin: 5px;
}

#head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    text-align: center;
    border-bottom: 2px solid black;
    height: 60px;
}

#name {
    font-size: 30px;
    font-weight: 700;
    color: rgb(10, 62, 182);
}

#linksSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;  
    margin-top: 20px;  
}

.listElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: 1px solid rgb(42, 85, 192);
    border-radius: 5px;
    width: 400px;
    min-height: 50px;
    height: auto;
    font-size: 15px;
    margin-bottom: 20px;
}

.listElement:hover {
    background: rgb(177, 227, 226);
}


.anchorStyle {
    text-decoration: none;
}

#addButton {
    border: 1px solid rgb(96, 190, 196);
    border-radius: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#addButton:active {
    border: 1px solid rgb(112, 242, 79);
    background: rgb(177, 227, 226);
}